article:nth-child(even) > p > img {
    float: right;
}

article:nth-child(odd) > p > img {
    float: left;
}

article {

    border: 1px solid black;
    height: 245px;
    margin: 10px;
    padding: 10px;
}







