body {

    background-color: cornflowerblue;
}

button {
    box-shadow: grey;
    align-content: center;
    margin: auto;
    border-radius: 25%;

}

div {
    display: flex;
    flex-direction: column;
    margin: auto;
}


div p {
    padding-top: 10px;
    margin: auto;
}
